@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --color-primary-500: #e9eae4;
  --color-secondary-700: #2f2d2c;
}
