@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --color-primary-500: #e9eae4;
  --color-secondary-700: #2f2d2c;
}

@layer utilities {
  .object-cover {
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .mobile-menu {
      background: white;
      position: fixed;
      top: 80px;
      left: 0;
      right: 0;
      padding: 2rem;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
      z-index: 50;
    }
  }
}
